
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.bgWrapper {
  background-color: #000;
  background-image: url("./utils/images/Micro.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.modalfade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
}
.bannerRow {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.bannerForm h3 {
  color: #9fff95;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 37px;
  text-transform: uppercase;
}
.bannerForm h3 span {
  color: #fff;
  display: block;

}
.bannerForm {
  padding: 0 15px;
}
.bannerForm {
  text-align: center;
}
.bottomSection {
  margin-top: 60px;
}
.bgWrapper .mainButton {
  border: 2px solid #fff;
  padding: 10px 16px;
  font-size: 30px;
  background: #e8fb36;
  text-shadow: 0 0 12px rgb(0 0 0 / 94%);
  color: #fff;
  text-transform: uppercase;
  word-break: break-all;
}
.bgWrapper .modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 490px !important;
    margin: 0 auto 0 !important;
    top: 20px;
}
.bgWrapper .modal-dialog .close {
  border: 2px solid #050400;
  padding: 0px 16px;
  font-size: 20px;
  background: #e8fb36;
  text-shadow: 0 0 12px rgb(0 0 0 / 94%);
  color: #050400;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 4px;
}
.bgWrapper .modal-dialog .modal-header {
  padding: 10px 25px;
  border: 0;
}
.bgWrapper .modal-dialog .modal-header {
  flex-direction: column;
}

.bannerImages {
  flex: 1;
}
.bottomSection h2 {
  color: #adca66;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.bottomSection h2 span {
  font-size: 30px;
  display: block;
}
.inputButtonRow .mainButton {
  margin: 0 10px;
}
.inputItem {
  border: 2px solid #e8fb36;
  padding: 10px 16px;
  font-size: 30px;
  text-align: center;
  max-width: 131px;
  margin: 0 0 30px;
}
@media screen and (max-width: 767px) {
  .bgWrapper {
    background-image: none;
  }
  .inputItem {
    font-size: 20px;
  }
  .bgWrapper .mainButton {
    font-size: 18px;
  }
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */